.main {
  max-width: 77rem;
}

.topArticle {
  margin-bottom: 2rem;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 8px;
}

@media screen and (max-width: 992px) {
  .cardContainer {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
