.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  max-width: 77rem;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 2rem;
}

.buttonContainer > * + * {
  margin-left: 1rem;
}
